version: '3'

services:
  redis:
    image: redis:8-alpine@sha256:fd83658b0e40e2164617d262f13c02ca9ee9e1e6b276fd2fa06617e09bd5c780
    restart: unless-stopped
    command: '--io-threads 2'
    ports:
      - 6379:6379

