version: '3'

services:
  redis:
    image: redis:7-alpine@sha256:02f2cc4882f8bf87c79a220ac958f58c700bdec0dfb9b9ea61b62fb0e8f1bfcf
    restart: unless-stopped
    command: '--io-threads 2'
    ports:
      - 6379:6379

